{% extends 'base.html.twig' %}

{% block title %}Listes des SousRubriques{% endblock %}

{% block body %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="{{ path('app_rubrique_index') }}">Rubriques</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('app_sous_rubrique_index') }}">Sous rubriques</a>
            </li>
        </ul>
    </div>
</nav>

<div class="container mt-4">
    <center><h2>Listes des sous rubriques</h2></center>

    <table class="table table-striped mt-4">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Rubrique Nom</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for sous_rubrique in sous_rubriques %}
            <tr>
                <td>{{ sous_rubrique.id }}</td>
                <td>{{ sous_rubrique.name }}</td>
                <td>{{ sous_rubrique.rubrique.name }}</td>
                <td>
                    <div class="btn-group">
                        <form action="{{ path('app_sous_rubrique_edit', {'id': sous_rubrique.id}) }}" method="GET" class="mr-2">
                            <button type="submit" class="btn btn-primary">
                                <i class="fas fa-edit"></i>
                            </button>
                        </form>
                        <form action="{{ path('app_sous_rubrique_delete', {'id': sous_rubrique.id}) }}" method="POST" onsubmit="return confirm('Are you sure you want to delete this item?')">
                            <input type="hidden" name="_method" value="DELETE">
                            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ sous_rubrique.id) }}">
                            <button type="submit" class="btn btn-danger">
                                <i class="fas fa-trash"></i>
                            </button>
                        </form>
                    </div>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">No records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="text-left mb-4">
        <a href="{{ path('app_sous_rubrique_new') }}" class="btn btn-success">Ajouter sous rubrique</a>
    </div>
</div>
{% endblock %}
