{% extends 'base.html.twig' %}

{% block title %}Listes des Rubriques{% endblock %}

{% block body %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
         <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="{{ path('app_rubrique_index') }}">Rubriques</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('app_sous_rubrique_index') }}">Sous rubriques</a>
            </li>
        </ul>
    </div>
    </nav>

    <div class="container mt-4">
        <center><h2>Listes des Rubriques</h2></center>

        <table class="table table-striped mt-4">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Nom</th>
                    <th></th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for rubrique in rubriques %}
                    <tr>
                        <td>{{ rubrique.id }}</td>
                        <td><a href="{{ path('app_rubrique_show', {'id': rubrique.id}) }}">{{ rubrique.name }}</a></td>
                       <td></td>
                        <td>
                            <div class="btn-group">
                                <form action="{{ path('app_rubrique_edit', {'id': rubrique.id}) }}" method="GET" class="mr-2">
                                    <button type="submit" class="btn btn-primary">
                                        <i class="fas fa-edit"></i>
                                    </button>
                                </form>
                                <form action="{{ path('app_rubrique_delete', {'id': rubrique.id}) }}" method="POST" onsubmit="return confirm('Are you sure you want to delete this item?')">
                                    <input type="hidden" name="_method" value="DELETE">
                                    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ rubrique.id) }}">
                                    <button type="submit" class="btn btn-danger">
                                        <i class="fas fa-trash"></i>
                                    </button>
                                </form>
                            </div>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="3">No records found</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <div class="text-left mb-4">
            <a href="{{ path('app_rubrique_new') }}" class="btn btn-success">Ajouter Rubrique</a>
        </div>
    </div>
{% endblock %}
